canvas {
  position: fixed;
  top: 0;
  left: 0;
}

/**
 * in non-firefox browsers this
 * selector can break the styles
 */
::-moz-focus-inner {
  outline: none;
  border: none;
}

/**
 * in chrome we need to reset some
 * styles of button separately
 */
button {
  outline: none;
  border: none;
}

html, body, noscript, canvas, button, select, :focus {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  box-sizing: border-box;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
}

html, body {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
}

noscript {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba( 0, 0, 0, 0.7 );
}

noscript div {
  width: 75%;
  min-width: 256px;
  max-width: 384px;
  max-height: 70%;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 24px 24px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 64px rgba( 0, 0, 0, 0.26 );
  -moz-box-shadow: 0 2px 64px rgba( 0, 0, 0, 0.26 );
  box-shadow: 0 2px 64px rgba( 0, 0, 0, 0.26 );
}